[Unit]
Description=HTTP Server Service
After=network.target

[Service]
Type=simple

User={User}
Group={Group}

# cd {WorkingDirectory}
WorkingDirectory={WorkingDirectory}
# exec {ExecStart}
ExecStart={ExecStart}

Restart=always
RestartSec=6

KillMode=mixed
LimitCORE=infinity
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
